* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-image: url('/public/img/background.jpg'); /* Background pattern sesuai gambar */
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0);
    text-align: center;
    width: 350px;
    position: relative;
}

.logo img {

    width: 200px;
    margin-bottom: 20px;
}

.sign-up-btn {
    background-color: #000000; /* Warna latar belakang hijau */
    border: none; /* Tanpa border */
    color: white; /* Warna teks putih */
    padding: 15px 32px; /* Padding atas-bawah dan kiri-kanan */
    text-align: center; /* Teks di tengah */
    text-decoration: none; /* Tanpa garis bawah */
    display: inline-block; /* Agar bisa diatur seperti tombol */
    font-size: 16px; /* Ukuran font */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Kursor berubah menjadi pointer saat hover */
    border-radius: 8px; /* Sudut membulat */
    transition: background-color 0.3s; /* Efek transisi untuk hover */
}

.sign-up-btn a {
    color: white; /* Warna teks tautan putih */
    text-decoration: none; /* Tanpa garis bawah pada tautan */
}

.sign-up-btn:hover {
    background-color: #8a8a8a; /* Warna latar belakang saat hover */
}