/* Styling untuk kartu profil */
.profile-card {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 50px;
    width: 700px;
    margin-left: 300px;
    margin-top: 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.795);
    flex-direction: row;
}

h1 {
    display: flex;
    font-size: 25px;
}

h3 {
    display: flex;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details p {
    margin-bottom: 10px;
    font-size: 16px;
}

.profile-details input {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 50px;
}

button {
    background-color: #464646;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #939393;
}

/* Update untuk posisi tombol Edit Profil */
#view-section button {
    position: absolute; /* Menggunakan posisi absolut */
    right: 50px;  /* Mengatur posisi kiri tombol */
    bottom: 20px; /* Mengatur posisi bawah tombol */
}

/* Styling untuk search bar */
.search-bar {
    display: flex;
    position: fixed;
    margin-left: 0;
    top: 0px;
    left: 250px;
    justify-content: space-between;
    width: calc(100% - 290px);
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.search-bar .icons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-left: 10px;
}

.search-bar .icons svg {
    width: 27px;
    height: 27px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-top: 1px;
    gap: 4px;
    padding: px;
}

.search-bar .icons svg:hover {
    transform: scale(1.1);
}

.search-bar .icons div {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
