/* Styling for the body with a background image */
body {
    font-family: Arial, sans-serif;
    background-image: url('img/wa.jpg'); /* Gambar wallpaper */
    background-size: cover; /* Menutupi seluruh halaman */
    background-repeat: no-repeat; /* Tidak mengulang gambar */
    background-position: center; /* Pusatkan gambar */
    height: 100vh; /* Tinggi body memenuhi layar */
    margin: 0; /* Hapus margin default */
}

/* Container for the entire layout */
.container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}

/* Logo styling */
.logo {
    width: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
}



/* Main content styling */
.content {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.509); /* Slightly transparent background */
    padding: 20px;
}



/* Product grid and product card styling */
.product-grid {
    margin-top: 60px;
    margin-left: 260px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    height: 80vh;
}

.product {
    background-color: rgb(37, 37, 37);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 200px;
    flex: 1 1 200px; /* Tambahkan untuk membuat produk skala fleksibel */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px; /* Tentukan tinggi tetap untuk menjaga konsistensi ukuran */
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.add-to-cart {
    padding: 10px;
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.product h2 {
    font-size: 16px;
    margin: 10px 0;
    flex-grow: 1; /* Memastikan judul produk tidak memperluas kontainer */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.product p {
    color: #ffffff;
}



