* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-image: url('/public/img/background.jpg'); /* Background pattern sesuai gambar */
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;

    
    /* Posisi tengah dengan absolute */
    position: relative;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
}


.box {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0);
    text-align: center;
    width: 350px;
    position: relative;
}

.otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.otp-box {
    width: 50px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 20px;
    outline: none;
}

.otp-box:focus {
    border-color: #333;
}

.logo img {

    width: 200px;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 20px;
    position: relative;
}

.input-box input {
    width: 300px;
    padding: 10px;
    border: 2px solid #9d9c9c;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #000000;
    position: relative;
}

.input-box input:focus {
    border-color: #333;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);  
    opacity: 0.3;
    z-index: -1; /* Gambar background ada di bawah elemen lainnya */
}

.verify-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.verify-button:hover {
    background-color: #333;
}

h1{
    color: #000000;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Open Sans Bold', sans-serif;
}

p{
    color: #515151;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
}