/* Bell icon styling */
.bell-icon {
    position: relative;
    display: inline-block;
}

.bell-icon svg {
    width: 24px;
    height: 24px;
    color: #333;
    transition: color 0.3s;
}

.bell-icon:hover svg {
    color: #555; /* Darker shade on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    right: 0;
    margin-right: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

