.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);  
    opacity: 0.3;
    z-index: -1; /* Gambar background ada di bawah elemen lainnya */
}